doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/progressbar.css')
    link(rel='stylesheet', href='/css/style.css')
    title!= title
  body.celebrity
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          )
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="#").navbar-brand
        
        div#bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(href="/") Home
          ul.nav.navbar-nav.navbar-right
            if roomName
              li
                span Current Room: 
                  span= roomName

    div.container-fluid
      div.row
        div.col-md-12
          block content
