extends layouts/header
block content
  div.row
    div.col-md-6.col-md-offset-3.col-sm-12
      h2.text-center Enter 
        span#namesNeeded 3 
        span more names to continue
      form(id='addCeleb')
        input.form-control(type='text', id='celebrity', autocomplete='off')
      ul#celebrities
      div#users
  script(src='/js/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/jscookie.js')
  script(src='/js/adding_celebs.js')
