extends layouts/header
block content
  div.headers
  h1 Team A
  h1 Team B
  script(src='/js/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/jscookie.js')
  script(src='/js/game_watch_mode.js')
