extends layouts/header
block content
  div.row
    div.col-md-6.section
      h1 Team A
      h2 Current Score: 
        span 0
    div.col-md-6.section
      h1 Team B
      h2 Current Score 
        span 0
  script(src='/js/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/jscookie.js')
  script(src='/js/game_watch_mode.js')
