extends layouts/header
block content
  div.headers
    h1 Currently on step 1 of 3
    h2 Enter 3 more names to continue
  form(id='addCeleb')
    input(type='text', id='celebrity')
  ul#celebrities
  div#users
  script(src='/js/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/jscookie.js')
  script(src='/js/step_one.js')
